<!-- <!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head lang="it">
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Inserisci nuovo centro</h4>
		<p th:text="${exists}"></p>
	</div>
	 <form th:action="@{/centro}" method="POST" th:object="${centro}">
		 <table>
			<tr>
				<td>Nome Centro:</td>
				 <td><input type="text" th:field="*{nomeCentro}" /></td>
				 <td th:if="${#fields.hasErrors('nomeCentro')}" th:errors="*{nomeCentro}"></td>
			</tr>	
			
			<tr>
				<td>Email Centro:</td>
					<td><input type="text" th:field="*{emailCentro}" /></td>
				<td th:if="${#fields.hasErrors('emailCentro')}" th:errors="*{emailCentro}"></td>
			</tr>
			
			<tr>
				<td>Telefono Centro:</td>
					<td><input type="text" th:field="*{telefonoCentro}" /></td>
				<td th:if="${#fields.hasErrors('telefonoCentro')}" th:errors="*{telefonoCentro}"></td>
			</tr>
			
			<tr>
				<td>Capienza Max Centro:</td>
					<td><input type="number" th:field="*{capienzaMaxCentro}" /></td>
				<td th:if="${#fields.hasErrors('capienzaMaxCentro')}" th:errors="*{capienzaMaxCentro}"></td>
			</tr>
			
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table> 
	</form> 
</body>
</html>
 -->
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]


    <a th:href="@{/addCentro}">Inserisci un nuovo centro</a> <br> 
    <a th:href="@{/addCategoriaAttivita}">Inserisci una nuova Categoria Attivita</a> <br>
    <a th:href="@{/addAllievo}">Inserisci un nuovo Allievo</a> <br>
    <a th:href="@{/showCentri}">Mostra Centri</a> <br>
    <a th:href="@{/showAllievi}">Mostra Allievi</a> <br>
    <a th:href="@{/showCategorieAttivita}">Mostra Categorie Attivita</a> <br>


-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="it"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link href="assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>


           <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/dashboard}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Allievo</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Inserimenti</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a th:href="@{/addAllievo}">Nuovo allievo</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="#">Registra allievo all'attività</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Visualizzazioni</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a th:href="@{/showAllievi}">Visualizza allievi</a></li>
                        </ul>
                    </li>

                    <h3 class="menu-title">Centro</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Inserimenti</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a th:href="@{/addCentro}">Nuova centro</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Visualizzazioni</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a th:href="@{/showCentri}">Visualizza centri</a></li>
                        </ul>
                    </li>
					
					<h3 class="menu-title">Categoria</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Inserimenti</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a th:href="@{/addCategoriaAttivita}">Nuova categoria</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Visualizzazioni</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a th:href="@{/showCategorieAttivita}">Visualizza categorie</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                                <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-it"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language" >
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

		<div class="content mt-3">
			<form th:action="@{/centro}" method="POST" th:object="${centro}">
            <div class="animated fadeIn">

                <div class="row">

                    <div class="col-xs-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Inserisci nuovo centro</strong> <small><span th:text="${exists}"></span></small>
                            </div>
                            <div class="card-body card-block">
                            	<div class="form-group">
                                    <label class=" form-control-label">Nome</label>
                                    <small><span th:if="${#fields.hasErrors('nomeCentro')}" th:errors="*{nomeCentro}" id = "inputError" ></span></small>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-male"></i></div>
                                        <input type="text" th:field="*{nomeCentro}" class="form-control">
                                    </div>
                                    <small class="form-text text-muted">ex. Centre</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Telefono</label>
									<small><span th:if="${#fields.hasErrors('telefonoCentro')}" th:errors="*{telefonoCentro}" style = "color:red"></span></small>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                        <input type="text" th:field="*{telefonoCentro}" class="form-control">
                                    </div>
                                    <small class="form-text text-muted">ex. +99 9999999999</small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Email</label>
				 					<small><span th:if="${#fields.hasErrors('emailCentro')}" th:errors="*{emailCentro}" style = "color:red"></span></small>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input type="text" th:field="*{emailCentro}" class="form-control">
                                    </div>
                                    <small class="form-text text-muted">ex. centre.iuformation@provider.com</small>
                                </div>
                                <div class="form-group">
                                <div class="form-group">
                                    <label class=" form-control-label">Capienza massima</label>
				 					<small><span th:if="${#fields.hasErrors('capienzaMaxCentro')}" th:errors="*{capienzaMaxCentro}" style = "color:red"></span></small>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                                        <input type="text" th:field="*{capienzaMaxCentro}" class="form-control">
                                    </div>
                                    <small class="form-text text-muted">ex. 999</small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="submit" value = "invia" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
        </form>
        
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/widgets.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</body>
</html>