<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Livewire 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130820
xmlns="http://www.w3.org/1999/xhtml" 
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Iuformation</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900"
	rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div id="header-wrapper">
		<div id="header-wrapper2">
			<div id="header" class="container">
				<div id="logo">
					<h1>
						<a href="#">IuFormation</a>
					</h1>
				</div>
				<div id="menu">
					<ul>
						<li class="current_page_item"><a href="#" accesskey="1"
							title="">Homepage</a></li>
						<li><a href="#contactUs" accesskey="5" title="">Contact Us</a></li>
						<li><a th:href="@{/login}" accesskey="2" title="">Login</a></li>
					</ul>
				</div>
			</div>
			<div class="major">
				<h2>Stay hungry. Stay foolish.</h2>
				<span>The personal formation is a fondamental step for your
					career. Learn with us!</span>
			</div>
		</div>
	</div>
	<div id="portfolio-wrapper">
		<div id="portfolio" class="container">
			<div class="title">
				<a name = "contactUs"></a>
				<h2>About us</h2>
			</div>
			<div id = "images">
				<div id="column1">
					<img src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/11413_973327942696031_6091739547888408541_n.jpg?_nc_cat=0&oh=625671d32218c838ba7af789ca92def3&oe=5BB55DE5"></img>
					<a href = "https://www.linkedin.com/in/silvio-severino-aa2563131/"><p>Silvio Severino</p></a>
					<p>Roma Tre University</p>
				</div>
				<div id="column2">
					<img
						src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/1908275_694284750612669_3627510428941710543_n.jpg?_nc_cat=0&oh=aa0b4afd8782c51eddec063f246cebb7&oe=5BC432FC"></img>
						<a href = "https://www.linkedin.com/in/jacopo-grifoni-09bb91b7"><p>Jacopo Grifoni</p></a><p>Roma Tre University</p>
				</div>
				<div id="column3">
					<img
						src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/20374712_1769280129763568_959469184925151588_n.jpg?_nc_cat=0&oh=616e1baa535f1847bede9e398050595c&oe=5BC28A02"></img>
						<a href = "https://www.linkedin.com/in/lorenzo-giusti-917391138/"><p>Lorenzo Giusti</p></a><p>Roma Tre University</p>
				</div>
			</div>
		</div>
	</div>
	<div id="copyright" class="container">
		<p>
			&copy; Untitled. All rights reserved. | Photos by <a
				href="http://fotogrph.com/">Fotogrph</a> | Design by <a
				href="http://templated.co" rel="nofollow">TEMPLATED</a>.
		</p>
	</div>
</body>
</html>
